 
/*Main*/
main { 
    width: 1000px;
    padding: 10px 20px 20px 20px;
    background-color:	#e76f51
}

/*Navigointi*/
.navi {
    background-color:#BD3D7D !important;
    border-radius: 5px;
}

.navi a {
    color:black !important;
    text-transform: uppercase;
}

.navi a:hover {
    color:antiquewhite !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.tietojaLinkki {
    color: black !important;
}

/*Kortit*/
.card {
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.kortti {
    height: 95%;
    width: 100%;
  overflow: hidden;
}

.card img {
    width: 100%;
}

.tekijät {
    text-align: center;
}

/*Footer*/
footer {
    background-color:#3AD1CE;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 5px;
    position:relative;
    font-family: 'Source Code Pro', monospace;
}

/*Tekstit*/
h1 {
    color:#264653;
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

/*Animaatiotausta*/
img {
    width: 40px;
}

body {
    position: relative;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

body .set div {
    position: fixed;
    display: block;
}

body .set div:nth-child(1)
{
    left: 10%;
    animation: animate 30s linear infinite;
    animation-delay: -7s;
}

body .set div:nth-child(2)
{
    left: 20%;
    animation: animate 30s linear infinite;
    animation-delay: -10s;
}
body .set div:nth-child(3)
{
    left: 0%;
    animation: animate 30s linear infinite;
    animation-delay: -18s;
}
body .set div:nth-child(4)
{
    left: 17%;
    animation: animate 30s linear infinite;
    animation-delay: -28s;
}
body .set div:nth-child(5)
{
    left: 15%;
    animation: animate 30s linear infinite;
    animation-delay: -25s;
}
body .set div:nth-child(6)
{
    left: 95%;
    animation: animate 30s linear infinite;

}

body .set div:nth-child(7)
{
    left: 85%;
    animation: animate 30s linear infinite;
    animation-delay: -0s;
}

body .set div:nth-child(8)
{
    left: 80%;
    animation: animate 30s linear infinite;
    animation-delay: -5s;
}

body .set div:nth-child(9)
{
    left: 90%;
    animation: animate 30s linear infinite;
    animation-delay: -10s;
}

body .set div:nth-child(10)
{
    left: 99%;
    animation: animate 30s linear infinite;
    animation-delay: -20s;
}


@keyframes animate {
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translate(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translate(-20px) rotate(45deg);
    }
    40%
    {
        transform: translate(-20px) rotate(90deg);
    }
    60%
    {
        transform: translate(20px) rotate(180deg);
    }
    80%
    {
        transform: translate(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform: translate(-20px) rotate(225deg);
    }
}/*Animaatio loppuu*/